* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 20px;
}

h1 {
    display: inline-block;
    vertical-align: top;
    font-size: 2.5rem;
}

main {
    background-color: #f6f8f9;
    padding: 40px 0 20px;
}

.main-container {
    width: 70%;
    margin: auto;
    background-color: white;
}

.small-radius {
    border-radius: 6px;
}

.big-radius {
    border-radius: 15px;
}

nav {
    padding: 20px 0 15px 50px;
    border-bottom: 3px solid #f6f8f9;
}

.blue-background {
    background: #47adf1;
}

.purple-background {
    background: #9c72e4;
}

.green-background {
    background: #64c0a9;
}

.orange-background {
    background: #f29e33;
}

.pink-background {
    background: #d863a1;
}

.lime-background {
    background: #b0c926;
}

.white-text {
    color: white;
    padding: 7px 10px;
    font-size: 0.8rem;
}

#grey {
    color: #cdd2d6;
    border: 1px solid #cdd2d6;
    padding: 7px 10px;
    font-size: 0.8rem;
}

.small-container {
    padding-top: 40px;
    padding-left: 50px;
}

.toggle {
    padding-bottom: 30px;
}

.task {
    margin: 15px 0;
}

.circle {
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 50%;
    padding: 3px;
    text-align: center;
    font-size: 0.8rem;
}

.green-circle {
    color: #64c0a9;
    border: 2px solid #64c0a9;
}

.red-circle {
    color: #eb5953;
    border: 2px solid #eb5953;
}